.dark-star {
  top: -5vh;
  left: -45vw;
  position: relative;
  font-size: 0;
  overflow: visible;
  --s: 50px;
  /* size  */
  --m: 2px;
  /* margin */
  --f: calc(1.732 * var(--s) + 4 * var(--m) - 1px);
}

.hexes {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 0;
  height: 200px;
  width: 200px;
  z-index: 0;
}

.hexes div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.hex {
  opacity: 0.5;
  width: var(--s);
  margin: var(--m);
  height: calc(var(--s) * 1.1547);
  font-size: initial;
  clip-path: polygon(0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0%);
  background: radial-gradient(
    circle at 70% 70%,
    transparent,
    rgba(0, 255, 255, 0.2)
  );
  margin-bottom: calc(var(--m) - var(--s) * 0.2885);
}

.hex::before {
  content: "";
  width: calc(var(--s) / 2 + var(--m));
  float: left;
  height: 120%;
  shape-outside: repeating-linear-gradient(
    #0000 0 calc(var(--f) - 3px),
    #000 0 var(--f)
  );
}

.sphere {
  top: 3rem;
  left: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: radial-gradient(circle at 50% 50%, transparent, #6666663d);
  box-shadow: 0px 10px 50px rgb(77, 232, 170);
  position: absolute;
  width: 100px;
  height: 100px;
  z-index: 1;
}

.latitudes,
.longitudes {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  position: absolute;
  perspective-origin: 1000px;
  transform-style: preserve-3d;
  animation: rotate 10s linear infinite;
}

.latitude-1,
.latitude-2,
.latitude-3,
.latitude-4,
.latitude-5,
.latitude-6,
.longitude-1,
.longitude-2,
.longitude-3,
.longitude-4,
.longitude-5,
.longitude-6 {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 2px dotted aqua;
  position: absolute;
  transform: rotateX(90deg);
}

.latitude-1 {
  transform: translateY(-10px) rotateX(90deg);
}

.latitude-2 {
  transform: translateY(10px) rotateX(90deg);
}

.latitude-3 {
  width: 84px;
  height: 84px;
  transform: translateY(25px) rotateX(90deg);
}

.latitude-4 {
  width: 84px;
  height: 84px;
  transform: translateY(-25px) rotateX(90deg);
}

.latitude-5 {
  width: 60px;
  height: 60px;
  transform: translateY(-40px) rotateX(90deg);
}

.latitude-6 {
  width: 60px;
  height: 60px;
  transform: translateY(40px) rotateX(90deg);
}

.longitude-1 {
  transform: rotateY(60deg);
}

.longitude-2 {
  transform: rotateY(120deg);
}

.longitude-3 {
  transform: rotateY(180deg);
}

.longitude-4 {
  transform: rotateY(240deg);
}

.longitude-5 {
  transform: rotateY(300deg);
}

.longitude-6 {
  transform: rotateY(360deg);
}

@keyframes rotate {
  0% {
    transform: rotate3d(1, 1, 0, 0deg);
  }
  100% {
    transform: rotate3d(1, 1, 0, 360deg);
  }
}
